.btn
{
    display:inline;
}

h1 {
    margin-bottom:60px;
    text-align:center;
}

#sentrer{
    top:45%;
    position: absolute;

    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
