h1 {
    margin-bottom:12px;
}

.main {
    top:45%;
    position: absolute;

    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.btn-sm {
    margin-left:20px;
    margin-right:-5px;
}

#test {
    margin-left:40px;
}

.list-group {
    margin-top:10px;
}

.customButtonList
{
    height: 50px;
}
.customButtonList .date { float:right }
.customButtonList .name { float:left }

#submitQuiz {
    margin-top:-7px;
}


/*
Har lyst til å få en knapp inline
.gruppering {
   //display: inline-block;
   //Bruk SPAN!
}
*/