h1 {
    margin-bottom:12px;
}

.main {
    top:45%;
    position: absolute;

    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#test {
    margin-left:40px;
}


/*
Har lyst til å få en knapp inline
.gruppering {
   //display: inline-block;
}
*/