.navbar {
    margin-bottom: 10px;
}

.container-fluid{
    width: 70%;
}


#kallenavnOutput {
    margin-right: 1%;
}

#svar {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

#svar {
    width:80%
}

#sporsmaalTekst{
    text-align: center;
}

#tid {
    text-align: center;
    margin-top:20%;
    font-size: 5.5em;
}

#poeng {
    text-align: center;
    margin-top:20%;
    font-size: 2.5em;
}

#bildeDiv {
    margin: auto;
    width: 50%;
}