#velgKallenavn {
    display: inline-block;
    margin: auto;
    /*
    !!!!!
    Fiks dette!
    Elementene inne i denne div burde være ved siden av hverandre!
    Og hele greia burde være på midten!
     */
}

h1 {
    text-align:center;
    margin-bottom: 25px;
    margin-top: 25px;
}

#mainBody {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table, th, td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table {

    border-collapse: collapse;
}

th {
    height: 30px;
}

.knappfelt {
    width: 10%;
    padding-top:4px;
    padding-left:2px;
    padding-right:4px;
    padding-bottom:4px;
}

.tidfelt {
    width:10%;
    text-align: center;
}

.deltagerfelt {
    width:15%;
    text-align: center;
}

.navnfelt {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #EEEEEE;
}

