h1 {
    text-align:center;
    margin-bottom: 25px;
    margin-top: 25px;
}

#mainBody {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

table, th, td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table {
    border-collapse: collapse;
    width:100%;
}

th {
    height: 30px;
}

.knappfelt {
    width: 10%;
    padding-top:4px;
    padding-left:2px;
    padding-right:4px;
    padding-bottom:4px;
}

.tidfelt {
    width:10%;
    text-align: center;
}

.deltagerfelt {
    width:15%;
    text-align: center;
}

.navnfelt {
    width:50%;
    text-align: center;
}

.quizButton {
    background-color: #9DE0AD;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #EEEEEE;
}

