.list-group {
    list-style: decimal inside;
    margin:30px;
}

.list-group-item {
    display: list-item;
}

#main {
    background-color: #EEE; /* for vizualization purposes */
    text-align: center;
}
#senter {

    background-color: #DDD; /* for vizualization purposes */
    display: inline-block;
    width:50%;
}