.navbar {
    margin-bottom: 10px;
}

.jumbotron {
    background-color: white;
    border: 3px solid #594F4F;
}

#quizBakgrunn{
    width: 70%;
}


#svar {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width:80%
}

#sporsmaalTekst{
    color: #594F4F;
    text-align: center;
}

#tid {
    color: #594F4F;
    text-align: center;
    margin-top:20%;
    font-size: 4.2em;
}

#poeng {
    color: #594F4F;
    text-align: center;
    margin-top:20%;
    font-size: 4.0em;
}

#bildeDiv {
    margin: auto;
    width: 50%;
}

.funkyradio {
    width:100%;
}

.funkyradio-primary {
    width:100%;
}